.slider__container{
    margin-top: 30px;
    margin-bottom: 40px;

   
 

    button{
        border: unset;
        background-color: transparent;
        color: rgba(255, 255, 255, 0.452);
        font-size: 30px;
        transition: 0.5s;
        i:hover{
            color: white;
            transition: 0.5s;
        }
    }

    
}


.slider__item{
    height: 100px;
    // width: 100px;
    margin: auto;
    font-size: 12px;
    text-align: center;
    @include displayFlex(column, space-around , center);


    div{
        padding-top: 5px;
    }

    .slider__img__container{
        height: 100px;
        width: 100px;
        background-image: url(https://image.tmdb.org/t/p/original//mmZVSaTaSX2yW6q08LAj9E1BpkQ.jpg);
        background-size: cover;
         border-radius: 50%;

    }
    
}