
@keyframes grow {
  0%, 40%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


.loader__conatiner{
  width:100vw; padding:20px; margin-bottom: 80px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;



   @include mediaMaxWidth(500px){
       padding-bottom: 80px;
   };

}


.dot-loader {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #f44336;
  position: relative;
  -webkit-animation: 1.2s grow ease-in-out infinite;
  animation: 1.2s grow ease-in-out infinite;
}

.dot-loader--2 {
  -webkit-animation: 1.2s grow ease-in-out infinite 0.15555s;
  animation: 1.2s grow ease-in-out infinite 0.15555s;
  margin: 0 20px;
}
.dot-loader--3 {
  -webkit-animation: 1.2s grow ease-in-out infinite 0.3s;
  animation: 1.2s grow ease-in-out infinite 0.3s;
}
